# Logs
*.log
*storybook.log
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
pnpm-error.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.pnpm-store/
node_modules

# Build outputs
.turbo/
*.local
dist
dist-ssr
html
packages/cli/template

# Editor directories and files
.DS_Store
.idea
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# Testing
coverage
playwright-report
storybook-static
test-results

# Environment variables
!.env.example
.env
.env.*

# Cache
.cache
.eslintcache
.npm
.stylelintcache
.temp
.tmp
.tsbuildinfo

# Nx cache
.nx/cache
.nx/workspace-data

# TypeScript incremental build info
**/tsconfig.tsbuildinfo

# Vite/Vitest timestamp files
vite.config.*.timestamp*
vitest.config.*.timestamp*

# Build visualizer
stats.html

# Binary files
bin/

# Playwright
playwright-report.json
playwright-report/
test-results/

# Ignore temporary commit message file
/temp_commit_msg.txt
