# Logs
*.log
*storybook.log
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
pnpm-error.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
.pnpm-store/
node_modules

# Build outputs
.turbo/
*.local
dist
dist-ssr
html
packages/cli/template

# Editor directories and files
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tailwind.json
.DS_Store
.idea
.vscode/*
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?

# Testing
coverage
playwright-report
test-results

# Environment variables
!.env.example
.env
.env.*

# Cache
.cache
.eslintcache
.npm
.stylelintcache
.temp
.tmp
.tsbuildinfo

# TypeScript incremental build info
**/tsconfig.tsbuildinfo

# Build visualizer
stats.html

# Lighthouse and audit reports
lighthouse-reports/
*.html
*.json
audit-report.txt

# DevTools and trace files
*.devtoolslog.json
*.trace.json
pageLoadError-*.json

# Snapshots
snapshot/

# Binary files
bin/

# Playwright
playwright-report.json
playwright-report/
test-results/

# Ignore temporary commit message file
/temp_commit_msg.txt

